<a href="https://colab.research.google.com/github/devendrasaini/ML-colab/blob/master/feature_labling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv('http://13.234.66.67/summer19/datasets/social.csv')

In [55]:
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
filterdata=df.iloc[0:,2:].values

In [0]:
features=filterdata[0:,0:2]

In [0]:
label=filterdata[0:,2]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X,x,Y,y=train_test_split(features,label,test_size=0.2)

In [0]:

from sklearn.preprocessing import StandardScaler

In [0]:
sc=StandardScaler()

In [0]:
#applying scaling to testing data only
X=sc.fit_transform(X)

In [0]:
#testingdata scaling
x=sc.transform(x)

In [0]:
#KNN
from sklearn.neighbors  import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [0]:
#random forest call with no od decision tree
rclf=RandomForestClassifier(n_estimators=20)

In [0]:
#now training 
trained=rclf.fit(X,Y)

In [0]:
predict1=trained.predict(x)

In [69]:
predict1

array([0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0])

In [0]:
import cv2

In [71]:
cv2